<div class="detalle-skill" data-visible="true">
    <div class="titulo-skill-div">
        <h2 class="titulo-skill">Educacion<span class="type-description"></span></h2>
        <div class="edit-buttons">
            <button class="add ed-add edit-icon" *ngIf="edicion" (click)="addSeccion()">
                <fa-icon [icon]="faPlus"></fa-icon>
            </button>
        </div>
    </div>
    
    <div *ngFor="let e of sec">
        <app-edu-item [e]="e" [edicion]="edicion"></app-edu-item>
    </div>
</div>