<h2>Añadir/Editar Educacion</h2>
    <label for="instituto" class="etiqueta-modal">Institucion</label>
    <input type="text" name="instituto" id="ed-instituto">
    <label for="titulo" class="etiqueta-modal">Titulo</label>
    <input type="text" name="titulo" id="ed-titulo">
    <label for="ingreso" class="etiqueta-modal">Fecha de Ingreso</label>
    <input type="date" name="ingreso" id="ed-fe-ingreso">
    <label for="egreso" class="etiqueta-modal">Fecha de Egreso</label>
    <input type="date" name="egreso" id="ed-fe-egreso">
    <button id="ed-submit" class="button-or submit-button">Aceptar</button>
