<div class="cuadro-perfil" [attr.animation]="animate">
    <div class="profile-frame">
        <input 
        type="file" 
        #profImgFile 
        class="prof-file"
        (change)="profImgSelected($event)">
        <button 
            class="edit-icon edit edit-prof-img" 
            *ngIf="edicion"
            (click)="profImgFile.click()">
            <fa-icon [icon]="faEdit"></fa-icon>    
        </button>
        <img class="foto-perfil" [src]="profFile" alt="">
    </div>
    <ul class="apartados-perfil">
        <li style="--i:1.6;"><a routerLink="/experiencia" routerLinkActive="active"><div class="sk-1" (click)="runeClick(0)"><img title="Experiencia" class="icono-seccion" src="assets/exp_rune_5.png" alt=""><h1 class="tooltip tooltip-left">Experiencia</h1></div></a></li>
        <li style="--i:0.4;"><a routerLink="/educacion" routerLinkActive="active"><div class="sk-2" (click)="runeClick(1)"><img title="Educación" class="icono-seccion" src="assets/edu_rune_5.png" alt=""><h1 class="tooltip">Educacion</h1></div></a></li>
        <li style="--i:-0.4;"><a routerLink="/skills" routerLinkActive="active"><div class="sk-3" (click)="runeClick(2)"><img title="Hard & Soft Skills" class="icono-seccion" src="assets/skill_rune_5.png" alt=""><h1 class="tooltip">Habilidades</h1></div></a></li>
        <li style="--i:-1.6;"><a routerLink="/proyectos" routerLinkActive="active"><div class="sk-4" (click)="runeClick(3)"><img title="Proyectos" class="icono-seccion" src="assets/proy_rune_5.png" alt=""><h1 class="tooltip tooltip-left">Proyectos</h1></div></a></li>
    </ul>
</div>
