.h1-skill{
    grid-column:span 3;
    font-size: 1.5rem;
    font-weight: bold;
}
.edit-buttons{
    display:flex;
    justify-content: right;
    align-items: center;
    width:100%;
    position: absolute;
    top:0;
    right: 0;
}
.descripcion-skill input[disabled]{
    background-color: transparent;
    border:none;
    color:white;
    text-shadow: 0 0 0.2rem var(--bd-color-1);
    font-family: 'Conthrax';
}
.descripcion-skill input{
    background-color: rgb(61, 61, 61);
    color:rgb(21, 255, 0);
    text-shadow: 0 0 0.2rem rgb(21, 255, 0);
    font-family: 'Conthrax';
    box-sizing:border-box;
    width: 100%;
}
.descripcion-skill{
    display:grid;
    grid-template-columns:0.2fr 1.2fr 1.6fr;
    align-items:flex-start;
    justify-content: left;
    border-radius:0rem;
    box-shadow: 0 0 0.2rem var(--bd-color-1);
    background: rgba(24,21,48,0.5);
    backdrop-filter: blur(0.5rem);
    color:white;
    text-shadow: 0 0 0.2rem var(--bd-color-1);
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0 0 0.2rem var(--bd-color-1);
}
textarea[disabled]{
    background-color: transparent;
    border:none;
    color:white;
    text-shadow: 0 0 0.2rem var(--bd-color-1);
    font-family: 'Conthrax';
    resize: none;
}
textarea{
    background-color: rgb(61, 61, 61);
    color:rgb(21, 255, 0);
    text-shadow: 0 0 0.2rem rgb(21, 255, 0);
    font-family: 'Conthrax';
    resize:none;
      
}
textarea::-webkit-scrollbar{
    display:none
}
.logo{
    grid-row:span 3;
    grid-column: 1 2;
    width: 5rem;
    border-radius: 0.5rem;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(0.5rem);
    padding:0.5rem;
    margin:0.5rem;
}
@media (max-width:40em){
    .descripcion-skill{
        display:inline-block;
        overflow-x:visible;
    }
    .logo{
        display: block;
    }
}