<div class="cuadro-perfil" [attr.animation]="animate">
    <div class="profile-frame">
        <button class="button-or edit edit-prof-img" hidden>E</button>
        <img class="foto-perfil" src="assets/profile.png" alt="">
    </div>
    <ul class="apartados-perfil">
        <li style="--i:1.6;"><div class="sk-1" (click)="runeClick(0)"><a href="#skill"><img title="Experiencia" class="icono-seccion" src="assets/exp_rune_5.png" alt=""></a><h1 class="tooltip tooltip-left">Experiencia</h1></div></li>
        <li style="--i:0.4;"><div class="sk-2" (click)="runeClick(1)"><a href="#skill"><img title="Educación" class="icono-seccion" src="assets/edu_rune_5.png" alt=""></a><h1 class="tooltip">Educacion</h1></div></li>
        <li style="--i:-0.4;"><div class="sk-3" (click)="runeClick(2)"><a href="#skill"><img title="Hard & Soft Skills" class="icono-seccion" src="assets/skill_rune_5.png" alt=""></a><h1 class="tooltip">Habilidades</h1></div></li>
        <li style="--i:-1.6;"><div class="sk-4" (click)="runeClick(3)"><a href="#skill"><img title="Proyectos" class="icono-seccion" src="assets/proy_rune_5.png" alt=""></a><h1 class="tooltip tooltip-left">Proyectos</h1></div></li>
    </ul>
</div>
