<header>
    <img class="apLogo" src="assets/ap_logo.png" alt="Not Found"><span>Argentina Programa - #YoProgramo</span>   
    <nav class="primary-navbar" data-visible="false">
        <ul class="redesSocBar" data-visible="true">
            <li><a href="https://www.instagram.com/"><img title="@bousvaldes" class="redesSocLogo" src="assets/ig_logo_3.png" alt="Not Found"><span>Instagram</span></a></li>
            <li><a href="https://www.facebook.com/"><img title="@bousvaldes" class="redesSocLogo" src="assets/fb_logo_3.png" alt="Not Found"><span>Facebook</span></a></li>
            <li><a href="https://web.whatsapp.com/"><img title="+5491167161603" class="redesSocLogo" src="assets/wsp_logo_3.png" alt="Not Found"><span>Whatsapp</span></a></li>
            <li><a href="https://www.twitter.com/"><img title="@druidautista" class="redesSocLogo" src="assets/twit_logo_3.png" alt="Not Found"><span>Twitter</span></a></li>
        </ul>
        <button class="button-or" id="login-button">Login</button>
    </nav>
    <button id="menu-button" class="button-or">+</button>  
</header>
