<div class="detalle-skill" data-visible="true" style="grid-area:skill">
    <div class="titulo-skill-div">
        <h2 class="titulo-skill">{{seccion}}<span class="type-description"></span></h2>
        <div class="edit-buttons">
            <button class="add ed-add edit-icon" *ngIf="edicion" (click)="addSeccion()">
                <fa-icon [icon]="faPlus"></fa-icon>
            </button>
        </div>
    </div>
    
    <div *ngFor="let e of sec">
        <app-xp-item [e]="e" [edicion]="edicion"></app-xp-item>
    </div>
</div>
