<div class="modal">
    <h2>Ingresar</h2>
    <p class="error-msg" *ngIf="authError"> Usuario y/o contraseña incorrectos </p>
    <form class="form-modal" [formGroup]="loginForm">
        <label class="etiqueta-modal">Usuario</label>
        <input
            [class.input-error]="loginForm.get('username')?.touched && loginForm.get('username')?.invalid" 
            type="text" 
            formControlName="username" 
            required>
        <label class="etiqueta-modal">Contraseña</label>
        <input
            [class.input-error]="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"  
            type="password" 
            formControlName="password"
            required>
    </form>
    <button 
        class="button-or submit-button"
        (click)="tryLogin()"
        >
        Acceder
    </button>
</div>
    
    
