<div class="modal">
    <h2>Ingresar</h2>
    <p class="error-msg" *ngIf="authError">Usuario y/o contraseña incorrectos</p>
    <label for="username" class="etiqueta-modal">Usuario/E-mail</label>
    <input type="text" name="username" #username>
    <label for="password" class="etiqueta-modal">Contraseña</label>
    <input type="password" name="password" #pass>
    
    <button 
        class="button-or submit-button"
        (click)="tryLogin(username.value,pass.value)"
        >
        Acceder
    </button>
</div>
    
    
