<div class="exp-modal-bg modal-bg" [attr.data-visible]="visible">
    <div class="exp-modal modal">
        <h2>Añadir/Editar Experiencia Laborar</h2>
        <label for="empresa" class="etiqueta-modal">Empresa</label>
        <input type="text" name="empresa" id="exp-empresa">
        <label for="exp-puesto" class="etiqueta-modal">Puesto</label>
        <input type="text" name="puesto" id="exp-puesto">
        <label for="ingreso" class="etiqueta-modal">Fecha de Ingreso</label>
        <input type="date" name="ingreso" id="exp-fe-ingreso">
        <label for="egreso" class="etiqueta-modal">Fecha de Egreso</label>
        <input type="date" name="egresp" id="exp-fe-egreso">
        <button id="exp-submit" class="button-or submit-button">Aceptar</button>
        <span class="exp-modal-close modal-close button-or">X</span>
    </div>
</div>
