<h2>Editar Hard & Soft Skill Level</h2>
    <label for="magia" class="etiqueta-modal">Magia</label>
    <input type="number" name="magia" id="sk-magia">
    <label for="fuerza" class="etiqueta-modal">Fuerza</label>
    <input type="number" name="fuerza" id="sk-fuerza">
    <label for="inteligencia" class="etiqueta-modal">Inteligencia</label>
    <input type="number" name="inteligencia" id="sk-intel">
    <label for="espiritu" class="etiqueta-modal">Espiritu</label>
    <input type="number" name="espiritu" id="sk-spirit">
    <label for="destreza" class="etiqueta-modal">Destreza</label>
    <input type="number" name="destreza" id="sk-destreza">
    <label for="stamina" class="etiqueta-modal">Stamina</label>
    <input type="number" name="stamina" id="sk-stamina">
    <button id="sk-submit" class="button-or submit-button">Aceptar</button>
