.sk-modal  h2{
    grid-column: span 2;
}
.value-error{
    border: solid yellow
}
.input-box{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1.4fr 1.4fr 0.2fr ;
    width: 90%;
    margin-right: 1rem;
}
.input{
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}
.trash{
    color:lime;
    cursor: pointer;
}