<div class="modal">
    <h2>Editar Hard & Soft Skill Level</h2>
    <div class="input-box"><label for="">Etiqueta</label><label for="">Valor</label></div>
    <form [formGroup]="skillForm">
        <div class="input-box" *ngFor="let l of inputLNames, index as i">
            <input class="input" type="text" formControlName="label{{i}}">
            <input class="input" type="number" formControlName="value{{i}}">
            <button class="button-or" (click)="removeControl(i)">
                <fa-icon [icon]=faTrash></fa-icon>
            </button>
        </div>
    </form>

    <button 
        class="button-or" 
        (click)="addSeccion()">
            <fa-icon [icon]="faPlus"></fa-icon>
        </button>
    <button 
        id="sk-submit" 
        class="button-or submit-button"
        (click)="setCanvas()">
        Aceptar</button>
</div>
