
<div class="banner scroll-border pantalla" [ngClass]="columnas">
    <img [src]="'assets/'+bgFile" alt="" class="banner-bg" [attr.animation]="animate">
    <input 
        type="file" 
        #bgImgFile 
        class="bg-file"
        (change)="bgImgSelected($event)">
    <button 
        class="edit-icon edit edit-bg-img" 
        *ngIf="edicion"
        (click)="bgImgFile.click()">
        <fa-icon [icon]="faEdit"></fa-icon>
    </button>
    <app-perfil 
        [ngStyle]="{'grid-area':'profile'}"
        >
    </app-perfil>
    <app-placa 
        [ngStyle]="{'grid-area':'placa'}"
        >
    </app-placa>
    <app-secciones 
        [ngStyle]="{'grid-area':'skill'}"
        (sOpen)="sectOpen()"
        >
    </app-secciones>  
</div>
