<div class="banner scroll-border pantalla" [ngClass]="columnas">
    <img src="assets/circuit_banner_3.png" alt="" class="banner-bg" [attr.animation]="animate">
    <button class="button-or edit edit-bg-img" hidden></button>
    <app-perfil 
        [ngStyle]="{'grid-area':'profile'}"
        >
    </app-perfil>
    <app-placa 
        [ngStyle]="{'grid-area':'placa'}"
        >
    </app-placa>
    <app-secciones 
        [ngStyle]="{'grid-area':'skill'}"
        (sOpen)="sectOpen()"
        >
    </app-secciones>  
</div>
