<div class="detalle-skill" id="py-frame" data-visible="false">
    <div class="titulo-skill-div">
        <h2 class="titulo-skill">Proyectos</h2>
        <div class="edit-buttons">
            <button class="ok py-ok button-or" hidden>Ok</button>
            <button class="edit py-edit button-or" hidden>Edit</button>
            <button class="add py-add button-or" hidden>Add</button>
        </div>
    </div>
    <div class="descripcion-skill">
        <input class="h1-skill" type="text" name="proyecto" value="Argentina Programa" disabled>
        <button class="rm button-or" hidden>X</button>
        <label for="descripcion">Descripcion: </label>
        <input type="text" name="descripcion" value="Portfolio" disabled>
        <label for="fe-inicio">Fecha Inicio: </label>
        <input type="date" name="fe-inicio" value="2021-11-01" disabled>
        <label for="fe-fin">Fecha Fin: </label> 
        <input type="date" name="fe-fin" value="2022-05-30" disabled>
    </div>
</div>
