<div class="py-modal-bg modal-bg" [attr.data-visible]="visible">
    <div class="py-modal modal">
        <h2>Añadir Proyecto</h2>
        <label for="proyecto" class="etiqueta-modal">Proyecto</label>
        <input type="text" name="proyecto" id="py-proyecto">
        <label for="descripcion" class="etiqueta-modal">Descripcion</label>
        <input type="text" name="descripcion" id="py-descripcion">
        <label for="inicio" class="etiqueta-modal">Fecha de Inicio</label>
        <input type="date" name="inicio" id="py-fe-inicio">
        <label for="fin" class="etiqueta-modal">Fecha de Finalizacion</label>
        <input type="date" name="fin" id="py-fe-fin">
        <button id="py-submit"  class="button-or submit-button">Aceptar</button>
        <span class="py-modal-close modal-close button-or">X</span>
    </div>
</div>
