<div class="exp-modal-bg modal-bg" [attr.data-visible]="visible">
    <div class="relative-modal">
        <app-modal-generico 
            *ngIf="modalId>=10&&modalId<=13&&modalId!=12" 
            [modalId]="modalId"
            (submit)="visible=$event">
        </app-modal-generico>
        <app-modal-sk 
            *ngIf="modalId==12"
            (submit)="visible=$event">
        </app-modal-sk>
        <app-modal-login 
            *ngIf="modalId==15" 
            (submit)="visible=$event">
        </app-modal-login>
        <app-modal-desc 
            *ngIf="modalId==16"
            (submit)="visible=$event">
        </app-modal-desc>
        <span 
            class="modal-close edit-icon" 
            (click)="modalClose()">
            <fa-icon [icon]="faXmark"></fa-icon>
        </span>
    </div>
</div>