<div class="exp-modal-bg modal-bg" [attr.data-visible]="visible">
    <div class="relative-modal">
        <app-modal-sk 
            *ngIf="modalId==12"
            (submit)="visible=$event">
        </app-modal-sk>
        <app-modal-login 
            *ngIf="modalId==15" 
            (submit)="visible=$event">
        </app-modal-login>
        <app-modal-desc 
            *ngIf="modalId==16"
            (submit)="visible=$event">
        </app-modal-desc>
        <app-modal-ed 
            *ngIf="modalId==11"
            (submit)="visible=$event">
        </app-modal-ed>
        <app-modal-xp
            *ngIf="modalId==10"
            (submit)="visible=$event">
        </app-modal-xp>
        <app-modal-py
            *ngIf="modalId==13"
            (submit)="visible=$event">
        </app-modal-py>
        <span 
            class="modal-close edit-icon" 
            (click)="modalClose()">
            <fa-icon [icon]="faXmark"></fa-icon>
        </span>
    </div>
</div>