@font-face{
    font-family: "Spaceport";
    src: url("assets/fonts/Spaceport.otf");
}
@font-face{
    font-family: "ArcadeClassic";
    src: url("assets/fonts/ArcadeClassic.ttf");
}
@font-face{
    font-family: "Cyberverse";
    src: url("assets/fonts/Cyberverse.otf");
}
@font-face{
    font-family: "Conthrax";
    src: url("assets/fonts/conthrax.ttf");
}
@font-face{
    font-family: "GlitchInside";
    src: url("assets/fonts/GlitchInside.otf");
}
@font-face{
    font-family: "ShareTech";
    src: url("assets/fonts/ShareTechMono.ttf");
}
:root{
    --foto-perfil-size:min(30vw,13rem);
    --icono-habilidades:calc(var(--foto-perfil-size)/3.5);
    --ang-separacion:-90deg;
    --bg-color-1:rgb(5, 5, 37);
    --bg-color-2:rgb(24, 21, 48);
    --bd-color-1:rgb(34, 125, 216);
    --bd-color-2:rgb(126, 98, 182);
    --navbar-height:4rem;
}
body{
    position:relative;
    padding:0;
    margin:0;
    overflow-x: hidden;
    background-color: var(--bg-color-1);
    align-items: center;
    justify-content: center;
}
.button-or{
    border-radius: 0rem;
    box-shadow: 0 0 0.5rem rgb(21, 255, 0);
    text-shadow: 0 0 0.5rem rgb(21, 255, 0);
    background: rgba(21,255,0,0.3);
    color:rgb(21, 255, 0);
    backdrop-filter: blur(0.7rem);
    border:none;
    font-family:'GlitchInside';
    cursor:pointer;
    font-weight: 800;
    padding:0.2rem;
    margin:0.2rem;
    font-size: 0.8rem;
}
img,a{
    -webkit-user-drag: none;
}
/*Cuadro de Habilidades*/
/* .detalle-skill{
    margin:0.5rem;
    min-height: calc(100vh - 1rem - var(--navbar-height));
    font-family: 'Conthrax';
    justify-content: left;
    align-items: center;
    padding:0.1rem;
    border-radius:1rem;
    box-shadow: 0 0 0.5rem var(--bd-color-1);
    background:  rgba(0,0,0,0.8);;
    color:white;
    text-shadow: 0 0 0.2rem var(--bd-color-1);
    display:none;
    background-position: 0% 0%;
    background-image: url("assets/background_skill.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.detalle-skill[data-visible="true"]{
    display:block;
    animation-duration: 0.5s;
    animation-name: unfold;
    animation-direction: forward;
}
.descripcion-skill{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    justify-content: left;
    border-radius:1rem;
    box-shadow: 0 0 0.2rem var(--bd-color-1);
    background: rgba(24,21,48,0.5);
    backdrop-filter: blur(0.5rem);
    color:white;
    text-shadow: 0 0 0.2rem var(--bd-color-1);
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0 0 0.5rem var(--bd-color-1);
}
.h1-skill{
    grid-column:span 2;
    font-size: 1.5rem;
    font-weight: bold;
}
.descripcion-skill input[disabled]{
    background-color: transparent;
    border:none;
    color:white;
    text-shadow: 0 0 0.2rem var(--bd-color-1);
    font-family: 'Conthrax';
}
.descripcion-skill input{
    background-color: rgb(61, 61, 61);
    color:rgb(21, 255, 0);
    text-shadow: 0 0 0.2rem rgb(21, 255, 0);
    font-family: 'Conthrax';
    box-sizing:border-box;
    width: 100%;
}
.titulo-skill-div{
    display:flex;
    align-items: center;
    color:white;
    text-shadow: var(--bd-color-1);
}
.titulo-skill{
    justify-content: left;
    padding:0.5rem;
    width:100%;
}
.edit-buttons{
    display:flex;
    justify-content: right;
    align-items: center;
    width:100%;
}
button.add{
    height: 2rem;
    width: auto;
    margin: 0.5rem;
}
button.edit{
    height: 2rem;
    width: auto;
    margin: 0.5rem;
}
button.ok{
    height: 2rem;
    width: auto;
    margin: 0.5rem;
}
button.rm{
    position:absolute;
    right:1rem;
    top:1rem;
} */
/*Modal*/
.login-modal h2{
    font-family: 'GlitchInside';
    font-size:160%;
}
.etiqueta-modal{
    font-family: 'Cyberverse';
}
.submit-button{
    height: 2rem;
    width: auto;    
}
.modal-close{
    position:absolute;
    top:2%;
    right: 2%;
    font-weight: bold;
    cursor:pointer;
}
.modal-bg{
    display: none;
    position:fixed;
    height: 100vh;
    width: 100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    backdrop-filter:blur(0.5rem);
    z-index: 20000;
}
.modal-bg[data-visible="true"]{
    display:flex;
}
.modal{
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem var(--bd-color-1);
    background: rgba(8,8,51,0.5);
    color:white;
    text-shadow: 0 0 0.2rem var(--bd-color-1);
    width:fit-content;
    padding: 1rem;
    height: auto;
    display:flex;
    position:relative;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
}
.modal input{
    background-color: rgb(61, 61, 61);
    color:rgb(21, 255, 0);
    text-shadow: 0 0 0.2rem rgb(21, 255, 0);
    font-family: 'Conthrax';
    text-align: center;  
}
.modal h2{
    font-family: 'Cyberverse';
}


/*Animaciones*/
@keyframes unfold{
    from { transform:scaleX(0) }
    to { transform:scaleX(1) }
}
@keyframes typing {
    from { width: 0 }
    to { width:100%;}}



.detalle-skill{
    grid-area: skill;
}
.cuadro-perfil{
    grid-area: profile;
}
.placa-descripcion{
    grid-area: placa;
}
.pantalla{
    display: grid;
}
.duo-column{
    grid-template-areas:
    'profile skill'
    'placa skill';
}
.single-column{
    grid-template-columns: 1fr;
    grid-template-areas:
    'profile'
    'placa'
    'skill';
}