@font-face{
    font-family: "Spaceport";
    src: url("../assets/fonts/Spaceport.otf");
}
@font-face{
    font-family: "ArcadeClassic";
    src: url("../assets/fonts/ArcadeClassic.ttf");
}
@font-face{
    font-family: "Cyberverse";
    src: url("../assets/fonts/Cyberverse.otf");
}
@font-face{
    font-family: "Conthrax";
    src: url("../assets/fonts/conthrax.ttf");
}
@font-face{
    font-family: "GlitchInside";
    src: url("../assets/fonts/GlitchInside.otf");
}
@font-face{
    font-family: "ShareTech";
    src: url("../assets/fonts/ShareTechMono.ttf");
}

:root{
    --foto-perfil-size:min(30vw,13rem);
    --icono-habilidades:calc(var(--foto-perfil-size)/3.5);
    --ang-separacion:-90deg;
    --bg-color-1:rgb(5, 5, 37);
    --bg-color-2:rgb(24, 21, 48);
    --bd-color-1:rgb(34, 125, 216);
    --bd-color-2:rgb(126, 98, 182);
    --navbar-height:4rem;
}
body{
    position:relative;
    padding:0;
    margin:0;
    overflow-x: hidden;
    background-color: var(--bg-color-1);
    align-items: center;
    justify-content: center;
}

/*Barra superior*/
header{
    top:0px;
    left:0px;
    margin:0.5rem;
    width: calc(100% - 1rem);
    height: var(--navbar-height);
    display: grid;
    grid-template-areas: 'ap-logo ap-title red-soc';
    grid-template-columns: 1fr 1fr 1fr;
    position: sticky;
    justify-content: left;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem var(--bd-color-2);
    background: rgba(24,21,48,0.5);
    backdrop-filter: blur(0.5rem);
    padding:0px;
    font-weight:bold;
    font-size: 130%;
    z-index: 10000;
    
}
header>span{
    grid-area:ap-title;
    color:white;
    font-family: 'ArcadeClassic';
    font-size: 1rem;
    text-shadow: 0 0 1rem var(--bd-color-2);
    margin-left:1rem;  
}
.apLogo{
    position:relative;
    left:1rem;
    height: 3rem;
    margin:0rem;
    grid-area:ap-logo;
}
.primary-navbar>ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding-right: 1em;
    transform:translateX(0%);
    margin:0;
}
.primary-navbar{
    display:grid;
    grid-area:red-soc;
    align-items: center;
    justify-content: right;
    padding:0em;
    margin:0;
}
.primary-navbar span{
    display:none;
    font-size: 1rem;
    font-family: 'GlitchInside';
}
.redesSocLogo{
    max-height:2rem;
    margin:0.5rem;
    transform: scale3d(1,1,1);
    transition: transform 300ms ease-in-out;
}
.redesSocLogo:hover{

    transform: scale3d(1.5,1.5,1.5);
    transition: transform 300ms ease-in-out;
}
.button-or{
    border-radius: 0rem;
    box-shadow: 0 0 0.5rem rgb(21, 255, 0);
    text-shadow: 0 0 0.5rem rgb(21, 255, 0);
    background: rgba(21,255,0,0.3);
    color:rgb(21, 255, 0);
    backdrop-filter: blur(0.7rem);
    border:none;
    font-family:'GlitchInside';
    cursor:pointer;
    font-weight: 800;
    padding:0.2rem;
    margin:0.2rem;
    font-size: 0.8rem;
}
#login-button{
    font-weight: 800;
    padding:6px;
    margin: 1rem;
}
img,a{
    -webkit-user-drag: none;
}

/*Banner*/
.scroll-border{
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem var(--bd-color-1);
    background: var(--bg-color-1);
}
.banner{
    position: relative;
    display:grid;
    margin:0.5rem;
    max-width: calc(100%-1rem);
    height: 85vh;
    grid-template-areas: 
    '. profile .'
    'placa placa placa';
    grid-auto-columns: 1fr;
    background-color: rgba(0,0,0,0.8);
    background-position: 50% 50%;
    /* background-image: url("../assets/circuit_banner_2.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    justify-items: center;
    align-items: center;
    animation-duration: 5s;
    animation-name: wave;
    animation-iteration-count: infinite;
    animation-direction: forward;
    overflow: hidden;
}
.banner-bg{
    position:absolute;    
}
.banner-bg[animation="false"]{
    filter:brightness(0%);
}
.banner-bg[animation="true"]{
    animation-duration: 6s;
    animation-name: turn-on;
    animation-iteration-count: 1;
    animation-direction: forward;
}
.edit-bg-img{
    position:absolute;
    top:1rem;
    right:1rem;
    z-index: 1000;
}

/*Cuadro de perfil*/
.foto-perfil{
    position:relative;
    min-width: var(--foto-perfil-size);
    max-width: 13rem;
    border-radius: 50%;
    transform: rotateZ(-45deg);
    animation-duration: 5s;
    animation-name: glow-5;
    animation-iteration-count: infinite;
    animation-direction: forward;
}
.edit-prof-img{
    position:absolute;
    top:1rem;
    right: 1rem;
    z-index: 1000;
    transform: rotateZ(-45deg);
}
.profile-frame{
    min-width: var(--foto-perfil-size);
    max-width: 13rem;
    border:solid 0.2rem var(--bd-color-2);
    box-shadow: 0 0 1rem var(--bd-color-2);
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(0.2rem);
    transform: rotateZ(45deg);
    overflow:hidden
}
.cuadro-perfil{
    position: relative;
    grid-area:profile;
    display:flex;
    align-items: center;
    padding:1.5rem;
    width: fit-content;
    
}
.cuadro-perfil[animation="false"]{
    filter:brightness(0%);
}
.cuadro-perfil[animation="true"]{
    animation-duration: 3s;
    animation-name: turn-on;
    animation-iteration-count: 1;
    animation-direction: forward;
}
.icono-seccion{
    max-height: var(--icono-habilidades);
    padding:0.2rem;
    border: transparent;
    border-radius: 2rem;
    transform: scale3d(1,1,1);
    transition: transform 300ms ease-in-out;    
}
.icono-seccion:hover{
    transform: scale3d(2,2,2);
    transition: transform 300ms ease-in-out;
}
.apartados-perfil{
    list-style: none;
    position: absolute;
    justify-content: left;
    align-items: center;
    padding:0px;
    margin:0px;
    transform: translate3d(0,calc(-0.5*var(--icono-habilidades)),0);
}
.apartados-perfil>li{
    position: absolute;
    justify-content: center;
    align-items: center;
    transform-origin: calc(-0.48 * var(--foto-perfil-size));
    transform: translateX(calc(var(--foto-perfil-size))) rotateZ(calc(var(--ang-separacion)*var(--i)));
}
.placa-descripcion{
    display: flex;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem var(--bd-color-2);
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(0.5rem);    
    height: auto;
    grid-area:placa;
    margin:1rem;
    padding:1rem;
    max-width: 75vw;
}
.placa-descripcion[animation="true"]{
    min-height: 40%;
    animation-duration: 0.5s;
    animation-name: console;
    animation-iteration-count: 1;
    animation-direction: forward;
}
.type-description{
    color:limegreen;
    font-family: 'ShareTech';
    text-shadow: 0 0 0.2rem limegreen;
    font-size: 1.1rem;
    overflow: hidden;
    margin: 0 auto;
}
#blink-t
{
    border-right: .5em solid green; 
    animation: 
    blink-caret .4s step-end infinite; 
}
.tooltip
{
    font-family: 'Conthrax';
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(0.5rem);
    color:rgb(166, 161, 202);
    font-size: calc(var(--foto-perfil-size) / 9);
    padding: 0.1rem;
    margin:0rem 0rem 0rem 0rem;
    border:solid slateblue 0.1rem;
    padding-top: 0.2rem;
    max-height: 2rem;
    position: absolute;
    text-shadow: 0 0 0.5rem slateblue;
    box-shadow: 0 0 0.5rem slateblue;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}
.tooltip-left{
    left:calc(-1.2*var(--icono-habilidades));
}
.sk-1{
    display: flex;
    align-items: center;
    transform:rotateZ(144deg);
    animation-duration: 5s;
    animation-name: glow-1;
    animation-iteration-count: infinite;
    animation-direction: forward;
}
.sk-2{
    display: flex;
    align-items: center;
    transform:rotateZ(36deg);
    animation-duration: 5s;
    animation-name: glow-2;
    animation-iteration-count: infinite;
    animation-direction: forward;
}
.sk-3{
    display: flex;
    align-items: center;
    transform:rotateZ(-36deg);
    animation-duration: 5s;
    animation-name: glow-3;
    animation-iteration-count: infinite;
    animation-direction: forward;
}
.sk-4{
    display: flex;
    align-items: center;
    transform:rotateZ(-144deg);
    animation-duration: 5s;
    animation-name: glow-4;
    animation-iteration-count: infinite;
    animation-direction: forward;
}
.sk-1:hover .tooltip{
    transform: scaleX(1) translateX(-7ch) skewX(-10deg);
    transition: transform 300ms ease-in-out;
}
.sk-2:hover .tooltip{
    transform: scaleX(1) translateX(4ch) skewX(-10deg);
    transition: transform 300ms ease-in-out;
}
.sk-3:hover .tooltip{
    transform: scaleX(1) translateX(5ch) skewX(-10deg);
    transition: transform 300ms ease-in-out;
}
.sk-4:hover .tooltip{
    transform: scaleX(1) translateX(-6ch) skewX(-10deg);
    transition: transform 300ms ease-in-out;
}

/*Cuadro de Habilidades*/
.detalle-skill{
    margin:0.5rem;
    min-height: calc(100vh - 1rem - var(--navbar-height));
    font-family: 'Conthrax';
    justify-content: left;
    align-items: center;
    padding:0.1rem;
    border-radius:1rem;
    box-shadow: 0 0 0.5rem var(--bd-color-1);
    background:  rgba(0,0,0,0.8);;
    color:white;
    text-shadow: 0 0 0.2rem var(--bd-color-1);
    display:none;
    background-position: 0% 0%;
    background-image: url("../assets/background_skill.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.detalle-skill[data-visible="true"]{
    display:block;
    animation-duration: 0.5s;
    animation-name: unfold;
    animation-direction: forward;
}
.descripcion-skill{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    justify-content: left;
    border-radius:1rem;
    box-shadow: 0 0 0.2rem var(--bd-color-1);
    background: rgba(24,21,48,0.5);
    backdrop-filter: blur(0.5rem);
    color:white;
    text-shadow: 0 0 0.2rem var(--bd-color-1);
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0 0 0.5rem var(--bd-color-1);
}
.h1-skill{
    grid-column:span 2;
    font-size: 1.5rem;
    font-weight: bold;
}
.descripcion-skill input[disabled]{
    background-color: transparent;
    border:none;
    color:white;
    text-shadow: 0 0 0.2rem var(--bd-color-1);
    font-family: 'Conthrax';
}
.descripcion-skill input{
    background-color: rgb(61, 61, 61);
    color:rgb(21, 255, 0);
    text-shadow: 0 0 0.2rem rgb(21, 255, 0);
    font-family: 'Conthrax';
    box-sizing:border-box;
    width: 100%;
}
.titulo-skill-div{
    display:flex;
    align-items: center;
    color:white;
    text-shadow: var(--bd-color-1);
}
.titulo-skill{
    justify-content: left;
    padding:0.5rem;
    width:100%;
}
.edit-buttons{
    display:flex;
    justify-content: right;
    align-items: center;
    width:100%;
}
button.add{
    height: 2rem;
    width: auto;
    margin: 0.5rem;
}
button.edit{
    height: 2rem;
    width: auto;
    margin: 0.5rem;
}
button.ok{
    height: 2rem;
    width: auto;
    margin: 0.5rem;
}
button.rm{
    position:absolute;
    right:1rem;
    top:1rem;
}
.canvas-skill{
    justify-content: left;
    align-items: center;
}

/*Modal*/
.login-modal h2{
    font-family: 'GlitchInside';
    font-size:160%;
}
.etiqueta-modal{
    font-family: 'Cyberverse';
}
.submit-button{
    height: 2rem;
    width: auto;    
}
.modal-close{
    position:absolute;
    top:2%;
    right: 2%;
    font-weight: bold;
    cursor:pointer;
}
.modal-bg{
    display: none;
    position:fixed;
    height: 100vh;
    width: 100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    backdrop-filter:blur(0.5rem);
    z-index: 20000;
}
.modal-bg[data-visible="true"]{
    display:flex;
}
.modal{
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem var(--bd-color-1);
    background: rgba(8,8,51,0.5);
    color:white;
    text-shadow: 0 0 0.2rem var(--bd-color-1);
    width:fit-content;
    padding: 1rem;
    height: auto;
    display:flex;
    position:relative;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
}
.modal input{
    background-color: rgb(61, 61, 61);
    color:rgb(21, 255, 0);
    text-shadow: 0 0 0.2rem rgb(21, 255, 0);
    font-family: 'Conthrax';
    text-align: center;  
}
.modal h2{
    font-family: 'Cyberverse';
}
.sk-modal  h2{
    grid-column: span 2;
}
#desc-input{
    background-color: rgb(61, 61, 61);
    color:rgb(21, 255, 0);
    text-shadow: 0 0 0.2rem rgb(21, 255, 0);
    font-family: 'Conthrax';
}

/*Animaciones*/
@keyframes glow-1 {
    0% {filter: invert(0%) hue-rotate(0deg);}
    20%{filter: invert(100%) hue-rotate(120deg);}
    40%{filter: invert(0%) hue-rotate(0deg);}
    60%{filter: invert(0%) hue-rotate(0deg);}
    80%{filter: invert(0%) hue-rotate(0deg);}
    100%{filter: invert(0%) hue-rotate(0deg);}
}
@keyframes glow-2 {
    0% {filter: invert(0%) hue-rotate(0deg);}
    20%{filter: invert(0%) hue-rotate(0deg);}
    40%{filter: invert(100%) hue-rotate(120deg);}
    60%{filter: invert(0%) hue-rotate(0deg);}
    80%{filter: invert(0%) hue-rotate(0deg);}
    100%{filter: invert(0%) hue-rotate(0deg);}
}
@keyframes glow-3 {
    0% {filter: invert(0%) hue-rotate(0deg);}
    20%{filter: invert(0%) hue-rotate(0deg);}
    40%{filter: invert(0%) hue-rotate(0deg);}
    60%{filter: invert(100%) hue-rotate(120deg);}
    80%{filter: invert(0%) hue-rotate(0deg);}
    100%{filter: invert(0%) hue-rotate(0deg);}
}
@keyframes glow-4 {
    0% {filter: invert(0%) hue-rotate(0deg);}
    20%{filter: invert(0%) hue-rotate(0deg);}
    40%{filter: invert(0%) hue-rotate(0deg);}
    60%{filter: invert(0%) hue-rotate(0deg);}
    80%{filter: invert(100%) hue-rotate(120deg);}
    100%{filter: invert(0%) hue-rotate(0deg);}
}  
@keyframes glow-5 {
    0% {filter: invert(0%) hue-rotate(120deg);}
    20%{filter: invert(0%) hue-rotate(0deg);}
    40%{filter: invert(0%) hue-rotate(0deg);}
    60%{filter: invert(0%) hue-rotate(0deg);}
    80%{filter: invert(0%) hue-rotate(0deg);}
    100%{filter: invert(0%) hue-rotate(120deg);}
}
@keyframes unfold{
    from { transform:scaleX(0) }
    to { transform:scaleX(1) }
}
@keyframes wave {
    0% {backdrop-filter: invert(10%);}
    20%{backdrop-filter: invert(0%);}
    40%{backdrop-filter: invert(0%);}
    60%{backdrop-filter: invert(0%);}
    80%{backdrop-filter: invert(0%);}
    100%{backdrop-filter: invert(10%);}
}
@keyframes typing {
    from { width: 0 }
    to { width: 36ch }
  }
@keyframes blink-caret {
    from, to { border-color: lime }
    50% { border-color: transparent; }
  }
@keyframes console{
    from{transform:scaleY(0);}
    to{transform:scaleY(1);}
}
@keyframes turn-on{
    from{filter:brightness(0%);}
    to{filter:brightness(100%);}
}

/*Media*/
@media (min-width:40em)
{
    .primary-navbar{
        display: flex;
    }
    #menu-button{
        display:none;
    }
}
@media (max-width:40em)
{
    #menu-button{
        position:absolute;
        right: 1rem;
        display:block;
        z-index: 10;
        width: fit-content;
        height: auto;
        font-size: 1rem;
    }
    .primary-navbar>ul{
        display:flex;
        flex-direction: column;
        list-style: none;
        align-items: center;       
        padding: 1rem;
        transform:translateX(0%);
        margin:0;
        grid-row-start:2;
    }
    #login-button{
        grid-row-start: 3;
    }
    .primary-navbar a{
        display: flex;
        align-items: center;
    }
    .primary-navbar[data-visible="false"]{
        
        transform:translateX(100%) scaleX(0);
        transition: transform 300ms ease-out;
    }
    .primary-navbar{
        position:absolute;
        right: 0;
        top: 0;
        background-color: rgba(0,0,0,0.5);
        backdrop-filter: blur(0.5rem);
        height: 100vh;
        width: auto;
        display:grid;
        grid-template-rows: var(--navbar-height) auto auto;
        align-items: center;
        justify-content:initial;
        padding:0em;
        margin:0;
        overflow: hidden;
        transform:translateY(0%) scaleX(1);
        transition: transform 300ms ease-out;
    }
    .redesSocLogo{
        max-height:2rem;
        margin:0.5rem;
        transform: scale3d(1,1,1);
        transition: transform 300ms ease-in-out;
    }
    .redesSocLogo:hover{
    
        transform: scale3d(1.5,1.5,1.5);
        transition: transform 300ms ease-in-out;
    }
    .primary-navbar span{
        display:flex;
    }
    .tooltip{
        font-size: calc(var(--foto-perfil-size) / 12);
    }
}


