<div class="detalle-skill" id="xp-frame" data-visible="false">
    <div class="titulo-skill-div">
        <h2 class="titulo-skill">Experiencia</h2>
        <div class="edit-buttons">
            <button class="ok xp-ok button-or" hidden>Ok</button>
            <button class="edit xp-edit button-or" hidden>Edit</button>
            <button class="add xp-add button-or" hidden>Add</button>
        </div>
    </div>
    <div class="descripcion-skill">
        <input class="h1-skill" type="text" name="empresa" value="Naturgy" disabled>
        <button class="rm button-or" hidden>X</button>
        <label for="puesto">Puesto: </label>
        <input type="text" name="puesto" value="Administrativo" disabled>
        <label for="fe-ingreso">Fecha Ingreso: </label>
        <input type="date" name="fe-ingreso" value="2017-10-23" disabled>
        <label for="fe-egreso">Fecha Egreso: </label> 
        <input type="date" name="fe-egreso" value="" disabled>
    </div>
</div>
