<div class="detalle-skill" id="ed-frame" data-visible="true">
    <div class="titulo-skill-div">
        <h2 class="titulo-skill">Educación</h2>
        <div class="edit-buttons">
            <button class="ok ed-ok button-or" hidden>Ok</button>
            <button class="edit ed-edit button-or" hidden>Edit</button>
            <button class="add ed-add button-or" hidden>Add</button>
        </div>
    </div>
    <div *ngFor="let e of educacion" class="descripcion-skill">
        <input class="h1-skill" type="text" name="instituto" value={{e.establecimiento}} disabled>
        <button class="rm button-or" hidden>X</button>
        <label for="titulo">{{e.labels[1]+":"}}</label>
        <input type="text" name="titulo" value={{e.titulo}} disabled>
        <label for="fe-ingreso">{{e.labels[2]+":"}}</label>
        <input type="date" name="fe-ingreso" value={{e.feIngreso}} disabled>
        <label for="fe-egreso">{{e.labels[3]+":"}}</label> 
        <input type="date" name="fe-egreso" value={{e.feEgreso}} disabled>
    </div>
</div>
