<div>
    <form class="descripcion-skill"[formGroup]="seccionForm">
        <input 
            class="h1-skill" 
            type="text" 
            formControlName="titulo">
        <div class="edit-buttons">
            <span 
                class="rm edit-icon" 
                *ngIf="edicion"
                (click)="remove()">
                <fa-icon [icon]="faTrash"></fa-icon>
            </span>
            <button 
                class="edit ed-edit edit-icon" 
                *ngIf="edicion"
                (click)="enableEdit()">
                <fa-icon [icon]="faEdit"></fa-icon>
            </button>
        </div>
        <label for="subtitulo">{{e.labels[1]+":"}}</label>
        <input 
            type="text" 
            formControlName="subtitulo">
        <label for="fe-ingreso">{{e.labels[2]+":"}}</label>
        <input 
            type="date" 
            formControlName="feIni">
        <label for="fe-egreso">{{e.labels[3]+":"}}</label> 
        <input 
            type="date" 
            formControlName="feFin">
    </form>
</div>

    

