.descripcion-skill{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    justify-content: left;
    border-radius:0rem;
    box-shadow: 0 0 0.2rem var(--bd-color-1);
    background: rgba(24,21,48,0.5);
    backdrop-filter: blur(0.5rem);
    color:white;
    text-shadow: 0 0 0.2rem var(--bd-color-1);
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0 0 0.2rem var(--bd-color-1);
}
.h1-skill{
    grid-column:span 2;
    font-size: 1.5rem;
    font-weight: bold;
}
.descripcion-skill input[disabled]{
    background-color: transparent;
    border:none;
    color:white;
    text-shadow: 0 0 0.2rem var(--bd-color-1);
    font-family: 'Conthrax';
}
.descripcion-skill input{
    background-color: rgb(61, 61, 61);
    color:rgb(21, 255, 0);
    text-shadow: 0 0 0.2rem rgb(21, 255, 0);
    font-family: 'Conthrax';
    box-sizing:border-box;
    width: 100%;
}
button.rm{
    position:absolute;
    right:1rem;
    top:1rem;
}